
function Editor({ tools }) {

  const { x, y, node, dispatch } = useDragging()

  return (
    <Fragment>
      {tools.map(icon => (
        <Draggable key={icon._id} 
          onStop={(e, data) =>  useHandlers(e, data, icon, dispatch, 'DROP')}
        >
          <i className="material-icons">{icon.name}</i>
        </Draggable>
      ))}
      x: {x} <br />
      y: {y} <br />
      iconName: {node && node.innerHTML}
    </Fragment>
  );
}

export function useDragging(){
  const [value, dispatch] = useContext(ToolsState);
  const { data } = value;
  return { ...data, dispatch }
}